{% extends "indiek_web/base.html" %}
{% block content %}
    <h2 class="mb-3">Items by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h2>
    {% for item in items %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'profile' %}">{{ item.author }}</a>
              <small class="text-muted">{{ item.date_created|date:"F d, Y" }}</small>
            </div>
	    <h4><a class="article-title" href={{ item.item_url }}>{{ item.quickname }}</a></h4>
            <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'item-detail' item.id %}">Details</a>
            </div>
            <p class="article-content">{{ item.description }}</p>
          </div>
        </article>
    {% endfor %}
    {% if is_paginated %}
    	{% if page_obj.has_previous %}
		<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
		<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
	{% endif %}

	{% for num in page_obj.paginator.page_range %}
		{% if page_obj.number == num %}
			<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
		{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}	
			<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
		{% endif %}
	{% endfor %}

    	{% if page_obj.has_next %}
		<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
		<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
	{% endif %}
    {% endif %}
{% endblock content %}
